@mixin button-styles($primary-color) {
  padding: 1rem 2rem;
  background-color: $primary-color;
  color: $colorWhite;
  text-transform: uppercase;
  border-radius: 2.5rem;
  border: 3px solid transparent;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  position: absolute;
  margin-top: 0.75rem;
  font-family: 'Montserrat';

  &:hover {
    background-color: $colorWhite;
    border: 3px solid $primary-color;
    color: $primary-color;
  }
}
