.nav-container {
  position: absolute;
  background: white;
  padding: 50px;
  height: 100vh;
  width: 300px;
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    img {
      max-width: 250px;
    }
  }
  .menu {
    margin-bottom: 50px;
    .menu-title {
      text-transform: uppercase;
      color: $colorPrimary;
      font-weight: 700;
      font-size: 1.2rem;
      border-bottom: 1px solid #e2eaef;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .links {
      li {
        a {
          font-size: 1.1rem;
          color: black;
          font-weight: 700;
          text-decoration: none;
          margin-bottom: 1.4rem;
          display: block;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: $colorPrimary;
          }
        }
      }
    }
  }
}
