@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Cardo&display=swap);* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#about-page {
  padding: 100px;
}

#about-page .content-box {
  display: flex;
  padding: 50px;
  margin-bottom: 3rem;
}

#about-page .content-box .content-text {
  width: 50%;
  padding-right: 7rem;
}

#about-page .content-box .content-image {
  width: 50%;
  align-self: center;
}

#about-page .content-box .content-image img {
  width: 100%;
}

#about-page h1 {
  font-size: 3rem;
  font-weight: 700;
  color: black;
  margin-bottom: 2.5rem;
}

#about-page p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-weight: 500;
  font-family: "Cardo";
}

@media (min-width: 0px) and (max-width: 767px) {
  #about-page {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #about-page {
    padding: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .content-box {
    flex-direction: column;
    align-items: center;
  }
}

#waitlist-page {
  padding: 100px;
}

#waitlist-page h1 {
  font-size: 3rem;
  font-weight: 700;
  color: colorBlack;
  margin-bottom: 2.5rem;
}

#waitlist-page p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-weight: 500;
}

#waitlist-page form label {
  font-weight: 700;
  margin-bottom: 10px;
  color: colorBlack;
}

#waitlist-page form .form-control {
  padding: 10px !important;
  font-size: 1.3rem;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #4e6f36;
}

#waitlist-page form button[type=submit] {
  background: #ee5a2a;
  border: none;
  padding: 10px 20px;
}

@media (min-width: 0px) and (max-width: 767px) {
  #waitlist-page {
    padding: 20px;
  }

  #waitlist-page h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #waitlist-page {
    padding: 20px;
  }
}

#offers-page {
  padding: 100px;
}

#offers-page h1 {
  font-size: 3rem;
  font-weight: 700;
  color: colorBlack;
  margin-bottom: 2.5rem;
}

#offers-page p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-weight: 500;
}

#offers-page form label {
  font-weight: 700;
  margin-bottom: 10px;
  color: colorBlack;
}

#offers-page form .form-control {
  padding: 10px !important;
  font-size: 1.3rem;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #4e6f36;
}

#offers-page form button[type=submit] {
  background: #ee5a2a;
  border: none;
  padding: 10px 20px;
}

@media (min-width: 0px) and (max-width: 767px) {
  #offers-page {
    padding: 20px;
  }

  #offers-page h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #offers-page {
    padding: 20px;
  }
}

#menu-page {
  padding: 100px;
}

#menu-page #food-preview {
  padding: 0;
  background: transparent;
}

#menu-page #food-preview h2 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 100px;
  margin: 0;
}

#menu-page #food-preview h2 .button-rounded {
  margin-bottom: 2rem;
}

#menu-page #food-preview .left-btn,
#menu-page #food-preview .right-btn {
  background: #000;
}

#menu-page #food-preview .container .food-slider .slide:hover .background {
  background: #000;
}

@media (min-width: 0px) and (max-width: 767px) {
  #menu-page {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #menu-page {
    padding: 20px;
  }
}

#single-menu-page {
  padding: 100px;
}

#single-menu-page h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #4e6f36;
  margin-bottom: 2rem;
  text-align: center;
}

#single-menu-page .item {
  margin-bottom: 2rem;
}

#single-menu-page .item .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#single-menu-page .item .title h4,
#single-menu-page .item .title .price {
  font-size: 1.4rem;
  color: #000;
  font-weight: 900;
}

#single-menu-page .item .description {
  line-height: 1.5;
}

#single-menu-page .row .content-box {
  padding: 40px;
}

#single-menu-page .row .content-box .food-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  width: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {
  #single-menu-page {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #single-menu-page {
    padding: 20px;
  }
}

.welcome-jumbo {
  transform: translate3d(300px, 0, 0);
  max-width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e8151b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #6f865b 0%, #4e6f36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 100px;
}

.welcome-jumbo .status {
  display: inline-block;
  padding: 10px 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  background: colorBlack;
  border-radius: 5px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.welcome-jumbo h1 {
  font-size: 4rem;
  font-weight: 900;
  align-self: flex-start;
  color: white;
  margin-bottom: 100px;
}

.welcome-jumbo .yaki-udon {
  width: 47.5%;
  position: relative;
}

#information {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
}

#information .restaurant-image {
  overflow: hidden;
  height: 100%;
}

#information .restaurant-image img {
  width: 100%;
}

#information .info {
  padding: 100px 50px 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#information .info h2 {
  text-transform: uppercase;
}

#information .info .paragraphs {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  line-height: 1.7;
  color: #525e66;
  font-size: 1.1rem;
  margin-bottom: 4rem;
}

#information .info .about-link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-top: 1rem;
  font-weight: 700;
}

#information .info .about-link .about-button {
  padding: 1rem 2rem;
  background-color: #4e6f36;
  color: white;
  text-transform: uppercase;
  border-radius: 2.5rem;
  border: 3px solid transparent;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  position: absolute;
  margin-top: 0.75rem;
  font-family: "Montserrat";
}

#information .info .about-link .about-button:hover {
  background-color: white;
  border: 3px solid #4e6f36;
  color: #4e6f36;
}

#information .info .about-link span {
  margin-right: 20px;
}

#information .info .about-link .circle-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #6f865b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #6f865b 0%, #4e6f36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#information .info .about-link .circle-right .fa-chevron-right {
  color: white;
  font-size: 1.3rem;
}

.welcome-jumbo {
  transform: translate3d(300px, 0, 0);
  max-width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #e8151b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #6f865b 0%, #4e6f36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 100px;
}

.welcome-jumbo .status {
  display: inline-block;
  padding: 10px 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  background: colorBlack;
  border-radius: 5px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.welcome-jumbo h1 {
  font-size: 4rem;
  font-weight: 900;
  align-self: flex-start;
  color: white;
  margin-bottom: 100px;
}

.welcome-jumbo .yaki-udon {
  width: 47.5%;
  position: relative;
}

body {
  line-height: 1;
  background: white;
  overflow-x: hidden;
  font-family: "Cardo", "Montserrat", sans-serif;
}

body h1,
body h2 {
  font-family: "Montserrat";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#app-layout {
  display: grid;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat";
}

#app-layout .social-icons {
  display: flex;
}

#app-layout .social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c2c8cc;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

#app-layout .location {
  align-self: center;
  position: absolute;
  bottom: 100px;
}

#app-layout .location .address {
  color: #7a8d99;
  margin-bottom: 20px;
  line-height: 1.7;
}

#app-layout .location .phone-number a {
  color: #e8151b;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

#app-layout #content-section {
  transform: translate3d(300px, 0, 0);
  max-width: calc(100vw - 300px);
  background: #6f865b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #6f865b 0%, #4e6f36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#food-preview {
  background: #f4f8fb;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#food-preview h2 {
  text-align: center;
  margin-bottom: 3rem;
}

#food-preview .button-rounded {
  background: #6f865b;
  color: white;
  display: inline-block;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 130px;
}

#food-preview .container {
  width: 100%;
  max-width: 1400px;
  position: relative;
}

#food-preview .food-slider {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  position: relative;
  font-size: 0;
}

#food-preview .food-slider .sliding-system {
  white-space: nowrap;
  transform: translate3d(0%, 0, 0);
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#food-preview .food-slider .slide {
  width: 100%;
  position: relative;
  height: 350px;
  display: inline-block;
  white-space: normal;
}

#food-preview .food-slider .slide .background {
  background: white;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

#food-preview .food-slider .slide .content {
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#food-preview .food-slider .slide .content .food-container {
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#food-preview .food-slider .slide .content .food-container .food-title {
  color: #6f865b;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
  font-family: "Montserrat";
}

#food-preview .food-slider .slide .content .food-container .food-description {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8;
  color: #7a8d99;
}

#food-preview .food-slider .slide .content .food-container .food-button {
  padding: 1rem 2rem;
  background-color: #ee5a2a;
  color: white;
  text-transform: uppercase;
  border-radius: 2.5rem;
  border: 3px solid transparent;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  position: absolute;
  margin-top: 0.75rem;
  font-family: "Montserrat";
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
}

#food-preview .food-slider .slide .content .food-container .food-button:hover {
  background-color: white;
  border: 3px solid #ee5a2a;
  color: #ee5a2a;
}

#food-preview .food-slider .slide img {
  width: 95%;
  max-width: 250px;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.4;
  }

  #app-layout .side-menu {
    transform: translate3d(-300px, 0, 0);
  }

  #app-layout .welcome-jumbo {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    transform: translate3d(0, 0, 0);
  }

  #app-layout #content-section {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    overflow-y: scroll;
    transform: translate3d(0, 0, 0);
  }

  #information {
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
  }

  #information .info {
    padding: 20px;
  }

  #information .info .about-link span {
    width: 50%;
  }

  #information .info .paragraphs {
    grid-template-columns: 1fr;
  }

  #information .info .paragraphs p {
    font-size: 1rem;
  }

  #food-preview {
    width: 100%;
    overflow: auto;
    padding: 20px;
  }

  #food-preview .food-slider .slide {
    margin-bottom: 1rem;
  }

  #food-preview .food-slider .sliding-system {
    white-space: normal;
    transform: translate3d(0%, 0, 0);
  }

  #food-preview .button-rounded {
    margin-bottom: 2rem;
  }

  #food-preview .container .left-btn {
    left: -20px;
    display: none;
  }

  #food-preview .container .right-btn {
    right: -20px;
    display: none;
  }

  #food-preview h2 {
    font-size: 2rem;
    line-height: 1.4;
  }

  #food-preview .food-slider .slide {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #app-layout .side-menu {
    display: none;
  }

  #app-layout .welcome-jumbo {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    transform: translate3d(0, 0, 0);
  }

  #app-layout #content-section {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    overflow-y: scroll;
    transform: translate3d(0, 0, 0);
  }

  #information {
    grid-template-columns: 1fr;
    grid-template-rows: 400px auto;
  }

  #information .info {
    padding: 20px;
  }

  #information .info .about-link span {
    width: 50%;
  }

  #information .info .paragraphs {
    grid-template-columns: 50% 50%;
  }

  #food-preview {
    width: 100%;
    padding: 20px;
  }

  #food-preview .button-rounded {
    margin-bottom: 2rem;
  }

  #food-preview .container .left-btn {
    left: -20px;
  }

  #food-preview .container .right-btn {
    right: -20px;
  }

  #food-preview h2 {
    font-size: 2rem;
    line-height: 1.4;
  }

  #food-preview .food-slider .slide {
    width: 50%;
  }
}

.content-box {
  background: white;
  padding: 20px;
}

