#menu-page {
  #food-preview {
    background: #f4f8fb;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      text-align: center;
      margin-bottom: 3rem;
    }
    .button-rounded {
      background: $colorSecondaryLight;
      color: white;
      display: inline-block;
      padding: 15px;
      border-radius: 30px;
      margin-bottom: 130px;
      //  width: 100px;
    }
    .container {
      width: 100%;
      max-width: 1400px;
      position: relative;
    }
    .food-slider {
      width: 100%;
      max-width: 1400px;
      // display: flex;
      // margin-bottom: 2rem;
      overflow: hidden;
      position: relative;
      font-size: 0;
      .sliding-system {
        white-space: nowrap;
        transform: translate3d(-0%, 0, 0);
        transition: all 0.3s ease-in-out;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
      }
      .slide {
        width: 100%;
        position: relative;
        height: 350px;
        display: inline-block;
        white-space: normal;
        // border-right: 1px solid #e9f0f4;

        .background {
          background: white;
          top: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
          position: absolute;
          transition: transform 0.3s ease-in-out;
        }

        .content {
          position: absolute;
          z-index: 2;
          padding: 20px;
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

          .food-container {
            margin-left: 2.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .food-title {
              color: $colorSecondaryLight;
              font-size: 2rem;
              font-weight: 900;
              margin-bottom: 2rem;
              font-family: 'Montserrat';
            }
            .food-description {
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.8;
              color: #7a8d99;
            }

            .food-button {
              @include button-styles($colorPrimaryLight);
              margin-top: 1.5rem;
              padding: 0.7rem 1.2rem;
              font-size: 1rem;
            }
          }
        }
        img {
          width: 95%;
          max-width: 250px;
        }
      }
    }
  }
}
